#universal{	
	color:blue;

}

.type h1,p{

	 color:red; 

}

.class{
	color:orange;

}

#id{
	color:pink;

}

div>center{
	color:purple;
}

p a{
	color:brown;

}

h2+p{
    color:blue;
}


h3~p{

	color:purple;
}